@{
    ViewData["Title"] = "Admin Template Page";
}

<head>
<style>
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 0 10px;
  background-color: white;
}
.form-container .pop-title {
    margin: 10px;
    padding: 0;
}

.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .popup-btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .popup-btn:hover {
  opacity: 1;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
<script>  
    var currentEditId = "";

    function addNewMessage() {
        let msgDiv = document.getElementById('newTemplateMsg');
        let msg = msgDiv.value.replace(/\n/g, '<br>');
        msgDiv.value = "";
        var containerDiv = document.createElement('div');
    
        let randomId = Math.random().toString(36).slice(2);
        containerDiv.id = randomId;
        containerDiv.className =
            'msgDiv container p-2 mb-3 bd-highlight border border-dark';

        var colDiv = document.createElement('div');
        colDiv.className = 'col d-flex align-items-center justify-content-between';

        var innerDiv = document.createElement('div');
        innerDiv.className = "innerDiv"

        var checkInput = document.createElement('input');
        checkInput.type = 'checkbox';
        checkInput.name = 'selectMsg';
        checkInput.value = msg;
        checkInput.id = 'checkbox';
        checkInput.className = 'selectMsg';

        var checkLabel = document.createElement('label');
        checkLabel.className = 'msgText fs-5 mx-2';
        checkLabel.innerHTML = msg;

        var buttonsDiv = document.createElement('div');

        var editButton = document.createElement('button');
        editButton.className = 'btn btn-secondary btn-sm m-1';

        editButton.innerHTML = 'Edit';

        var delButton = document.createElement('button');
        delButton.className = 'btn btn-danger btn-sm m-1';

        delButton.innerHTML = 'Del';

        buttonsDiv.appendChild(editButton);
        buttonsDiv.appendChild(delButton);

        innerDiv.appendChild(checkInput);
        innerDiv.appendChild(checkLabel);

        colDiv.appendChild(innerDiv);
        colDiv.appendChild(buttonsDiv);

        containerDiv.appendChild(colDiv);

        document.getElementById('main-item-div').appendChild(containerDiv);
        editButton.addEventListener('click',function(e){
            onEdit(randomId)
        })
        delButton.addEventListener('click',function(e){
            onDel(randomId)
        })
    }
    function onDel(elemId) {
        var divToDel = document.getElementById(elemId);
        divToDel.remove();
    }
    function onEdit(randomId){
        currentEditId = randomId;
        var msgLabel = document.querySelector(`#${randomId} .col .innerDiv .msgText`);
        document.getElementById("edit-popup").value = msgLabel.innerHTML;
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }

    $(document).ready(function () {  
        $("#edit-popup-form").submit(function(e) {
            e.preventDefault();
            let updatedInput = $("#edit-popup").val();
            updatedInput = updatedInput.replace(/\n/g, '<br>');
            var msgLabel = document.querySelector(`#${currentEditId} .col .innerDiv .msgText`);
            msgLabel.innerHTML = updatedInput;
            var msgCheckbox = document.querySelector(`#${currentEditId} .col .innerDiv .selectMsg`);
            msgCheckbox.value = updatedInput;
            closeForm();
        });
        $("#btnPreview").click(function () {  
            let email = $("#email").val();
            let msg;
            $('input[name="selectMsg"]:checked').each(function (){
                msg = `${msg ? `${msg}, `: ""} ${this.value}`
            });
            const timeElapsed = Date.now();
            const today = new Date(timeElapsed);
            localStorage.setItem('toEmail',email);
            localStorage.setItem('sendMsg',msg);
            localStorage.setItem('msgTime',today.toUTCString());
            $.ajax(  
            {  
                type: "POST", 
                url: "/Home/Send",  
                data: { 
                    toEmail: email,  
                    message: msg.replace(/(<([^>]+)>)/gi, ' '),
                    sentTime: today.toUTCString(),
                    fromEmail: localStorage.getItem("currentUser")
                },
                success: function(data){
                    window.location.href = '@Url.Action("Preview", "Home")';
                },
            });  
        });  
    });  
</script>  
</head>
<body id = "admin-body">
    <section>
        <div id="main-item-div" class = "w-50 mx-auto">
            <div class = "d-flex bd-highlight mb-3">
                <input type ="email" class= "flex-grow-1 form-control" type="search" id = "email" placeholder = "Type mail id here...">&nbsp;
                
            </div>
            <div id="msg0" class="msgDiv container p-2 mb-3 bd-highlight border border-dark">
                <div class = "col d-flex align-items-center justify-content-between">
                    <div class="innerDiv">
                        <input type="checkbox" class="selectMsg" name="selectMsg" value="Hope this mail finds you well!" id = "checkbox">
                        <label class="msgText fs-5 mx-2">Hope this mail finds you well!</label>
                    </div>
                    <div>
                        <button class="btn btn-secondary btn-sm m-1" onclick="onEdit('msg0')">Edit</button>
                        <button class="btn btn-danger btn-sm m-1" onclick="onDel('msg0')">Del</button>
                    </div>
                </div>    
            </div>
            <div id="msg1" class="msgDiv container p-2 mb-3 bd-highlight border border-dark">
                <div class = "col d-flex align-items-center justify-content-between">
                    <div class="innerDiv">
                        <input type="checkbox" class="selectMsg" name="selectMsg" value="It's great to hear from you!" id = "checkbox">
                        <label class="msgText fs-5 mx-2">It's great to hear from you!</label>
                    </div>
                    <div>
                        <button class="btn btn-secondary btn-sm m-1" onclick="onEdit('msg1')">Edit</button>
                        <button class="btn btn-danger btn-sm m-1" onclick="onDel('msg1')">Del</button>
                    </div>
                </div>    
            </div>
            <div id="msg2" class="msgDiv container p-2 mb-3 bd-highlight border border-dark">
                <div class = "col d-flex align-items-center justify-content-between">
                    <div class="innerDiv">
                        <input type="checkbox" class="selectMsg" name="selectMsg" value="Thankyou for your help!" id = "checkbox">
                        <label class="msgText fs-5 mx-2">Thankyou for your help!</label>
                    </div>
                    <div>
                        <button class="btn btn-secondary btn-sm m-1" onclick="onEdit('msg2')">Edit</button>
                        <button class="btn btn-danger btn-sm m-1" onclick="onDel('msg2')">Del</button>
                    </div>
                </div>    
            </div>
            <div id="msg3" class="msgDiv container p-2 mb-3 bd-highlight border border-dark">
                <div class = "col d-flex align-items-center justify-content-between">
                    <div class="innerDiv">
                        <input type="checkbox" class="selectMsg" name="selectMsg" value="Will get back to you!" id = "checkbox">
                        <label class="msgText fs-5 mx-2">Will get back to you!</label>
                    </div>
                    <div>
                        <button class="btn btn-secondary btn-sm m-1" onclick="onEdit('msg3')">Edit</button>
                        <button class="btn btn-danger btn-sm m-1" onclick="onDel('msg3')">Del</button>
                    </div>
                </div>    
            </div>
            <div id="msg4" class="msgDiv container p-2 mb-3 bd-highlight border border-dark">
                <div class = "col d-flex align-items-center justify-content-between">
                    <div class="innerDiv">
                        <input type="checkbox" class="selectMsg" name="selectMsg" value="Congratulations on your achievement!" id = "checkbox">
                        <label class="msgText fs-5 mx-2">Congratulations on your achievement!</label>
                    </div>
                    <div>
                        <button class="btn btn-secondary btn-sm m-1" onclick="onEdit('msg4')">Edit</button>
                        <button class="btn btn-danger btn-sm m-1" onclick="onDel('msg4')">Del</button>
                    </div>
                </div>    
            </div>
            <div id="msg5" class="msgDiv container p-2 mb-3 bd-highlight border border-dark">
                <div class = "col d-flex align-items-center justify-content-between">
                    <div class="innerDiv">
                        <input type="checkbox" class="selectMsg" name="selectMsg" value="Thanks for the response!" id = "checkbox">
                        <label class="msgText fs-5 mx-2">Thanks for the response!</label>
                    </div>
                    <div>
                        <button class="btn btn-secondary btn-sm m-1" onclick="onEdit('msg5')">Edit</button>
                        <button class="btn btn-danger btn-sm m-1" onclick="onDel('msg5')">Del</button>
                    </div>
                </div>    
            </div>
            
        </div>
        <div class = "w-50 mx-auto">
            <div class = "d-flex bd-highlight mb-3 justify-content-end">
                <button class="btn btn-info" id="btnPreview" >Preview & Send</button>
            </div>
            <div class = "d-flex bd-highlight mb-3">
                <textarea class= "flex-grow-1 form-control" id="newTemplateMsg"  placeholder = "Create a new template message..."></textarea>&nbsp; 
                <button class="btn btn-secondary" type="submit" onclick="addNewMessage()">Add</button>  
            </div>
        </div>
    </section>

    <div class="form-popup" id="myForm">
        <form id="edit-popup-form" class="form-container">
            <h2 class="pop-title">Update Message</h2>
            <label for="text"><b>Edit</b></label>
            <textarea class= "flex-grow-1 form-control" id="edit-popup" rows="5"></textarea>&nbsp; 
            <input type="submit" class="popup-btn" value="Update">
            <button type="button" class="popup-btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
</body>



